header {
  height: 64px;
  line-height: 64px;
  display: flex;
}

.HeaderLogo {
  height: 100%;
}

.HeaderSearch {
  display: flex;
  width: 600px;
}

.HeaderSearchInputWrapper {
  display: flex;
}

.HeaderSignUp .HeaderLogin {
  color: #d5d5d5;
}