.WorkBox {
  margin: 0 20px 20px 0;
  position: relative;
  width: 220px;
}

.WorkBoxImage {
  width: 100%;
}

.WorkBoxFavoriteStar {
  position: absolute;
  right: 10px;
  top: 10px;
}

.WorkBoxTitle {
  margin-top: 5px;
}