<header>
  <%= link_to image_tag("Logo.png", class:"HeaderLogo"), "/" %>
  <form class="HeaderSearch" action="#">
    <div class="HeaderSearchInputWrapper">
      <input class="HeaderSearchInputform" placeholder="">
      <img class="HeaderSeearchIcon" src="assets/images/SearchIcon.png">
      <input class="HeaderSearchCategory">
    </div>
    <input class="HeaderSearchSubmit" type="submit">
  </form>
  <a class="HeaderSignup" href="">新規登録</a>
  <a class="HeaderSingnin" href="">ログイン</a>
</header>