<div class="UserBox">
  <%# 後日IdeaTitle追加して、MiniBox的に追記するかも %>
  <%= image_tag 'SampleImage2', class:'UserBoxIcon' %>
  <%= link_to 'UserName', '/', class:'UserBoxName' %>
  <%# <% if current_user.id == FavoriteStarは自分以外表示にする %>
    <%= image_tag 'FavoriteStarOff', class:'FavoriteStar UserBoxFavoriteStar' %>
  <%# <% end %> 
</div>