<div class='WorkBox'>
  <%= image_tag 'SampleImage1.png', class:'WorkBoxImage' %>
  <%= image_tag 'FavoriteStarOff', class:'FavoriteStar WorkBoxFavoriteStar' %>
  <div class='WorkBoxUser'><%= link_to 'User', '/' %></div>
  <%= link_to '後にWorksテーブルから呼び出し。ダミータイトルダミータイトル', '/', class:'WorkBoxTitle' %>
</div>