.IdeaForm {
  margin: 0 auto;
  width: 80%;
}

.IdeaFormTitle {
  height: 20px;
  width: 100%;
}

.IdeaFormDescription {
  height: 200px;
  line-height: 20px;
  width: 100%;
}

.IdeaFormRequestedUser {
  height: 40px;
  width: 50%;
}

.IdeaFormImagesLabel {
  background-color: #343a3d;
  border: none;
  border-radius: 20px;
  color: #d5d5d5;
  font-size: 12px;
  padding: 8px;
  text-align: center;
}

.IdeaFormImagesForm {
  display: none;
}

.IdeaFormImage {
  height: 150px;
}