body {
  background-color: #000d13;
  color: #a2a2a2;
  font-family: 'Yu Gothic'; 
  font-size: 16px;
}

main {
  margin: 0 auto;
  width: 80vw;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

h2 {
  font-size: 18px;
}