.UserSignInForm {
  margin: 0 auto;
  width: 300px;
}

.UserSignInEmail, .UserSignInPassword {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}